.input-container {
  position: relative;
  width: 100%;
  border-top: 2px solid #3c3c46;
  border-radius: 12px;
  height: 10vh;
}

.messageinp {
  width: 92%;
  height: 9vh;
  padding: 0 0px 0 20px;
  border-radius: 16px;
  outline: none;
  font-size: 16px;
  overflow: auto;
  background-color: transparent;
}

.message-btn {
  position: absolute;
  color: #ffffff;
  right: 20px;
  top: 13%;
  cursor: pointer;
  font-size: 18px;
  transition: 0.4s;
  transition: all 0.2s ease;
  border-radius: 30px;
  border: none;
  transition: color 0.4s ease, transform 0.4s ease;
}

.message-btn:hover {
  color: #3498db;
  transform: scale(1.1);
  transition: color 0.5s ease, transform 0.4s ease;
}

.messageinp:focus ~ .message-btn {
  color: white;
  display: inline-block;
  animation: blast 1s ease-out;
}

@keyframes blast {
  0% {
    transform: scale(1) rotate(0deg);
    color: white;
  }
  30% {
    transform: scale(1.2) rotate(20deg);
    color: #007bff92;
  }
  50% {
    transform: scale(1.5) rotate(-20deg);
    color: white;
  }
  70% {
    transform: scale(1.2) rotate(10deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
    color: white;
  }
}

.fa-spinner {
  font-size: 1.5rem;
  color: #fff;
}

@media (max-width: 479px) {
  .messageinp {
    width: 75%;
  }
}

@media (min-width: 780px) and (max-width: 1100px) {
  .messageinp {
    width: 88%;
  }
}

@media (min-width: 479px) and (max-width: 779px) {
  .messageinp {
    width: 87%;
  }
}
