.people-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align content to the top */
    align-items: flex-start; /* Align content to the left */
    height: 100%; /* Ensure the container takes up full height */
}

.spinner-wrapper {
    display: flex;
    justify-content: center; /* Center spinner horizontally */
    align-items: center; /* Center spinner vertically */
    height: 100vh; /* Full height of the viewport */
    width: 100%; /* Full width */
}

.send-icon {
    font-size: 40px; /* Size of the spinner */
    color: #007bff; /* Optional: Set the color of the spinner */
}
