.home-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 91vh;
  color: #fff;
  background: #25252B;
}

.home-second-container {
  overflow: hidden;
  height: 80vh;
  width: 80vw;
  border: 2px solid #3C3C46;
  border-radius: 10px;
  box-shadow: 0 0 27px rgba(0, 0, 0, 0.3);
}

.home-message-container {
  background-color: #1c1c20ad;
  border-left: 1px solid rgba(0, 0, 0, 0.227);
  box-shadow: 0 0 27px rgba(0, 0, 0, 0.3);
  /* height: 100%; */
}

/* @media (max-width: 768px) {
  .home-message-container{
    display: none;
  }
} */