.sidebar-main-container {
  height: 100%;
}

.sidebar-second-container {
  /* Optionally add a border or shadow if required */
}

.sidebar-search-input {
  height: 9vh; /* Adjust search input height */
  padding: 0px 10px 0px 10px; 
  margin-top: 5px;
}

.sidebar-scroll-container {
  overflow: auto; 
  padding-bottom: 5px; 
  height: 70vh;
  position: relative; 
}

.spinner-wrapper {
  display: flex;
  justify-content: center; /* Center spinner horizontally */
  align-items: center; /* Center spinner vertically */
  position: absolute; /* Absolute positioning to place it at the center */
  top: 50%; /* Move spinner to the center vertically */
  left: 50%; /* Move spinner to the center horizontally */
  transform: translate(-50%, -50%); /* Ensure true centering */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
}

@media (max-width: 779px) {
  .sidebar-search-input{
    visibility: hidden;
  }
}
