.sidebar-main-container {
  height: 100%;
}

.sidebar-search-input {
  height: 7vh;
  padding: 0px 10px 0px 10px;
  margin-top: 5px;
}

.sidebar-scroll-container {
  overflow: auto;
  padding-bottom: 5px;
  height: 72vh;
  position: relative;
}

.spinner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

@media (max-width: 779px) {
  .sidebar-search-input {
    visibility: hidden;
  }
}
